<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
                        
    <!-- 手机验证码的配置文件 -->                    
	<bean id="authCodeHandler" class="com.smarttrip.platform.authcode.handler.AuthCodeHandler">
		<property name="authCodeRepository" ref="repository" />
		<property name="msgSender" ref="msgSender" />
		<property name="codeGenerator" ref="codeGenerator" />
	</bean>
	<bean id="repository" class="com.smarttrip.platform.authcode.repository.MapRepository" />
	<bean id="msgSender" class="com.smarttrip.service.impl.AuthCodeMsgSender" />
	<bean id="codeGenerator" class="com.smarttrip.platform.authcode.codegenerator.DefaultCodeGenerator" />
</beans>