<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smarttrip.dao.RouteMapper" >
  <resultMap id="BaseResultMap" type="com.smarttrip.domain.Route" >
    <id column="routeId" property="routeId" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="feature" property="feature" jdbcType="VARCHAR" />
    <result column="period" property="period" jdbcType="SMALLINT" />
    <result column="map" property="map" jdbcType="CHAR" />
    <result column="briefRecommendation" property="briefRecommendation" jdbcType="VARCHAR" />
    <result column="commentCount" property="commentCount" jdbcType="INTEGER" />
    <result column="commetRatio" property="commetRatio" jdbcType="REAL" />
    <result column="purchaseCount" property="purchaseCount" jdbcType="INTEGER" />
    <result column="regionId" property="regionId" jdbcType="CHAR" />
    <result column="displayOrder" property="displayOrder" jdbcType="INTEGER" />
    <result column="backgroundImg" property="backgroundImg" jdbcType="CHAR" />
    <result column="createTime" property="createTime" jdbcType="CHAR" />
    <result column="modifyTime" property="modifyTime" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
    <result column="feeDescription" property="feeDescription" jdbcType="LONGVARCHAR" />
    <result column="bookingNotice" property="bookingNotice" jdbcType="LONGVARCHAR" />
    <result column="detailRecommendation" property="detailRecommendation" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from route
    where routeId = #{routeId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.smarttrip.domain.Route" >
    insert into route (routeId, name, feature, 
      period, map, briefRecommendation, 
      commentCount, commetRatio, purchaseCount, 
      regionId, displayOrder, backgroundImg, 
      createTime, modifyTime, status, 
      detail, feeDescription, bookingNotice, 
      detailRecommendation)
    values (#{routeId,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{feature,jdbcType=VARCHAR}, 
      #{period,jdbcType=SMALLINT}, #{map,jdbcType=CHAR}, #{briefRecommendation,jdbcType=VARCHAR}, 
      #{commentCount,jdbcType=INTEGER}, #{commetRatio,jdbcType=REAL}, #{purchaseCount,jdbcType=INTEGER}, 
      #{regionId,jdbcType=CHAR}, #{displayOrder,jdbcType=INTEGER}, #{backgroundImg,jdbcType=CHAR}, 
      #{createTime,jdbcType=CHAR}, #{modifyTime,jdbcType=CHAR}, #{status,jdbcType=CHAR}, 
      #{detail,jdbcType=LONGVARCHAR}, #{feeDescription,jdbcType=LONGVARCHAR}, #{bookingNotice,jdbcType=LONGVARCHAR}, 
      #{detailRecommendation,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.smarttrip.domain.Route" >
    update route
    set name = #{name,jdbcType=VARCHAR},
      feature = #{feature,jdbcType=VARCHAR},
      period = #{period,jdbcType=SMALLINT},
      map = #{map,jdbcType=CHAR},
      briefRecommendation = #{briefRecommendation,jdbcType=VARCHAR},
      commentCount = #{commentCount,jdbcType=INTEGER},
      commetRatio = #{commetRatio,jdbcType=REAL},
      purchaseCount = #{purchaseCount,jdbcType=INTEGER},
      regionId = #{regionId,jdbcType=CHAR},
      displayOrder = #{displayOrder,jdbcType=INTEGER},
      backgroundImg = #{backgroundImg,jdbcType=CHAR},
      createTime = #{createTime,jdbcType=CHAR},
      modifyTime = #{modifyTime,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      detail = #{detail,jdbcType=LONGVARCHAR},
      feeDescription = #{feeDescription,jdbcType=LONGVARCHAR},
      bookingNotice = #{bookingNotice,jdbcType=LONGVARCHAR},
      detailRecommendation = #{detailRecommendation,jdbcType=LONGVARCHAR}
    where routeId = #{routeId,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select routeId, name, feature, period, map, briefRecommendation, commentCount, commetRatio, 
    purchaseCount, regionId, displayOrder, backgroundImg, createTime, modifyTime, status, 
    detail, feeDescription, bookingNotice, detailRecommendation
    from route
    where routeId = #{routeId,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select routeId, name, feature, period, map, briefRecommendation, commentCount, commetRatio, 
    purchaseCount, regionId, displayOrder, backgroundImg, createTime, modifyTime, status, 
    detail, feeDescription, bookingNotice, detailRecommendation
    from route
  </select>
  <select id="selectTop3ByDisplayOrder" resultMap="BaseResultMap">
  	select routeId, name, feature, period, map, briefRecommendation, commentCount, commetRatio, 
    purchaseCount, regionId, displayOrder, backgroundImg, createTime, modifyTime, status, 
    detail, feeDescription, bookingNotice, detailRecommendation
    from route 
    order by displayOrder desc
    limit 3
  </select>
  <select id="selectPeriods" resultType="java.lang.Integer">
  	select period
  	from route
  </select>
  <select id="selectByPeriod" resultMap="BaseResultMap" parameterType="int">
	select routeId, name, feature, period, map, briefRecommendation, commentCount, commetRatio, 
    purchaseCount, regionId, displayOrder, backgroundImg, createTime, modifyTime, status, 
    detail, feeDescription, bookingNotice, detailRecommendation
    from route
    where period = #{period, jdbcType=INTEGER} 	
  </select>
  <select id="selectByRegionId" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select routeId, name, feature, period, map, briefRecommendation, commentCount, commetRatio, 
    purchaseCount, regionId, displayOrder, backgroundImg, createTime, modifyTime, status, 
    detail, feeDescription, bookingNotice, detailRecommendation
    from route
    where regionId = #{regionId, jdbcType=CHAR}
  </select>
  <select id="selectByRegionIdAndPeriod" resultMap="BaseResultMap">
  	select routeId, name, feature, period, map, briefRecommendation, commentCount, commetRatio, 
    purchaseCount, regionId, displayOrder, backgroundImg, createTime, modifyTime, status, 
    detail, feeDescription, bookingNotice, detailRecommendation
    from route
    where regionId = #{regionId, jdbcType=CHAR} and #{period, jdbcType=INTEGER}
  </select>
  <select id="selectByConditions" resultMap="BaseResultMap">
   	select routeId, name, feature, period, map, briefRecommendation, commentCount, commetRatio, 
    purchaseCount, regionId, displayOrder, backgroundImg, createTime, modifyTime, status, 
    detail, feeDescription, bookingNotice, detailRecommendation
    from route
	where status = '1'
		<if test="regionId != null">
			AND regionId in
			<foreach item="regionId" index="index" collection="regionId" open="(" separator="," close=")">
				#{regionId}
			</foreach>
		</if>
		<if test="theme != null">
			AND theme in
			<foreach item="theme" index="index" collection="theme" open="(" separator="," close=")">
				#{theme}
			</foreach>
		</if>
		<if test="period != null">
			AND period in
			<foreach item="period" index="index" collection="period" open="(" separator="," close=")">
				#{period}
			</foreach>
		</if>
	order by #{sortField}	
  	limit #{pageNum} * #{pageSize}, #{pageNum} * #{pageSize} + #{pageSize}
  </select>
</mapper>