<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smarttrip.dao.VisitorThemeMapper" >
  <resultMap id="BaseResultMap" type="com.smarttrip.domain.VisitorTheme" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="visitorId" property="visitorId" jdbcType="CHAR" />
    <result column="themeId" property="themeId" jdbcType="CHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from visitortheme
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.smarttrip.domain.VisitorTheme" >
    insert into visitortheme (id, visitorId, themeId
      )
    values (#{id,jdbcType=CHAR}, #{visitorId,jdbcType=CHAR}, #{themeId,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.smarttrip.domain.VisitorTheme" >
    update visitortheme
    set visitorId = #{visitorId,jdbcType=CHAR},
      themeId = #{themeId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, visitorId, themeId
    from visitortheme
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, visitorId, themeId
    from visitortheme
  </select>
</mapper>